{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>360度評価ホーム画面</h1>
    {% if evaluation_forms %}
    <h2>評価フォーム一覧</h2>
    <ul>
        {% for form in evaluation_forms %}
            <li>
                <h3>{{ form.title }}</h3>
                <ul>
                    {% for reviewee in reviewees %}
                        <li>
                            <a href="{% url 'evaluation_input' reviewee_name=reviewee %}">
                                {{ reviewee }} の評価を入力
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>現在、評価フォームはありません。</p>
{% endif %}

    <a href="{% url 'evaluation_result_list' %}">評価結果一覧を見る</a>
</div>
{% endblock %}
